@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html, body {
    scroll-behavior: smooth;
}
#films,
#series,
#collections{
    scroll-margin-top: 150px;
}

:root {
    --com400: 'Comfortaa Regular';
    --com700: 'Comfortaa Bold';
    --mont400: 'Montserrat Regular';
    --mont700: 'Montserrat Bold';
    --rob400: 'Roboto Regular';
    --rob500: 'Roboto Medium';
    --link: #ED8E00;
    --white: #FFFFFF;
    --black: #000000;
    --orange: #F18128;
    --bg: #040D1F;
}
.btn {
    max-width: 166px;
    width: 100%;
    padding: 17px 0;
    border-radius: 4px;
    background: var(--orange);
    color: var(--black);
    font-family: var(--rob500);
    font-size: 14px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    transition: 300ms;
}
.btn:hover {
    background: var(--bg);
    color: var(--white);
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    background: var(--bg);
}
.header_pos {
    position: sticky;
    top: -90px;
    z-index: 100;
}
.advertise {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.advertise__icon {
    font-size: 50px;
    color: var(--white);
    margin-right: 24px;
}
.advertise__desc {
    color: var(--white);
    font-family: var(--com400);
    font-size: 16px;
    line-height: 18px;
    max-width: 166px;
    width: 100%;
}
.nav-wrapper {
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px);
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}
.header__img {
    margin-right: 5px;
}
.header__span {
    color: var(--white);
    line-height: 20px;
    font-size: 18px;
    font-family: var(--com700);
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__list-item {
    margin-left: 30px;
}
.header__link {
    color: var(--white);
    font-family: var(--mont400);
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding-top: 43px;
    justify-content: space-between;
    transition: 300ms;
}
.header__link:hover, .header__link:hover::after {
    color: var(--link);
    transform: scaleX(1);
}
.header__link::after {
    content: '';
    background: var(--link);
    height: 2px;
    /* display: block; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    transform: scaleX(0);
    padding: 0 6px;
    transition: 300ms;
}
/* .header__link:hover::after {
    transform: scaleX(1);
} */
.intro_pos {
    position: relative;
    z-index: 1;
    /* min-height: 640px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.intro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(7, 15, 25, 0.75);
}
.intro__img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}
.intro__title {
    color: var(--white);
    font-size: 64px;
    line-height: 78px;
    font-family: var(--mont700);
    margin-bottom: 30px;
}
.intro__desc {
    max-width: 570px;
    width: 100%;
    text-align: justify;
    font-family: var(--mont400);
    font-size: 16px;
    line-height: 24px;
    color: #C8C8C8;
    margin-bottom: 50px;
}
.intro__btn {
    display: flex;
    max-width: 362px;
    width: 100%;
    justify-content: space-between;
}
.title {
    font-family: var(--com400);
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: var(--orange);
    text-transform: capitalize;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: max-content;
}
.title::after {
    content: '';
    height: 2px;
    background: var(--orange);
}
.section-films {
    padding: 60px 0 77px;
}
.section-films__card {
    position: relative;
    max-width: 255px;
    width: 100%;
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
}
.section-films__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.section-films__content {
    padding: 54px 14px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
}
.section-films__icons {
    color: var(--white);
    font-size: 46px;
    margin-bottom: 12px;
}
.section-films__span {
    padding: 7px 27px;
    background: rgba(7, 15, 25, 0.2);
    border-radius: 9px;
    border: 1px solid var(--white);
    font-family: var(--mont400);
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    margin-bottom: 30px;
}
.section-films__headline {
    font-family: var(--mont400);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: var(--white);
    margin-bottom: 12px;
}
.section-films__desc {
    font-family: var(--rob400);
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    max-width: 226px;
    width: 100%;
}
.section-films__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trailer_pos {
    position: relative;
    z-index: 1;
    margin-bottom: 61px;
}
.trailer::before {
    content: '';
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    width: 100%;
    height: 100%;
    position: absolute;
}
.trailer__video {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
}
.trailer__content {
    padding: 42px 0 80px;
    position: relative;
}
.trailer__img {
    max-width: 445px;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}
.trailer__desc {
    max-width: 558px;
    width: 100%;
    margin-bottom: 55px;
    font-family: var(--rob400);
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    text-align: justify;
}
.col {
    padding-bottom: 63px;
}
.col__item-card {
    background: url(../images/col-pic1.jpg) no-repeat center /cover;
    /* max-width: 350px; */
    /* width: 100%; */
    /* height: 194px; */
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col__item-card:nth-child(2) {
    background: url(../images/col-pic2.png) no-repeat center /cover;
}
.col__item-card:nth-child(3) {
    background: url(../images/col-pic3.png) no-repeat center /cover;
}
.col__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-family: var(--com700);
    font-size: 20px;
    line-height: 22px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 300ms;
}
.col__link:hover.col__link::before,
.col__link:hover.col__link::after {
    transform: scaleX(1.2);
}
.col__link:hover .col__icon {
    transform: translateY(10%);
}
.col__link::before {
    content: '';
    background: url(../images/block.png) no-repeat left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 11px;
    transition: 300ms;
}
.col__link::after {
    content: '';
    background: url(../images/block.png) no-repeat right;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 11px;
    transition: 300ms;
}
.col__icon {
    font-size: 46px;
    margin-bottom: 15px;
    transition: 300ms;
}
.col__item {
    display: grid;
    /* grid-template-columns: 350px 350px 350px; */
    /* grid-template-columns: 1fr 1fr 1fr; 25% 50% 25% */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-template-rows: 194px 194px; */
    /* grid-template-rows: repeat(2, 194px); */
    grid-auto-rows: 194px;
    gap: 30px;
    /* column-gap: 30px; */
    /* row-gap: 20px; */
}
/* .test-1 {
    background: red;
}
.test-2 {
    background: blue;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}
.test-3 {
    background: yellow;
    grid-column: 1 / 4;
} */
.ser__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-auto-rows: 184px;
    gap: 30px;
}
.ser__cards-main {
    background: url(../images/series-pic1.jpg) no-repeat center /cover;
    /* height: 436px; */
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 0 22px;
}
.ser__cards-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ser__cards-title {
    font-family: var(--com700);
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: var(--white);
    margin-bottom: 27px;
}
.ser__cards-desc {
    font-family: var(--com400);
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 30px;
    text-align: center;
}
.ser__cards-sub-main {
    background: url(../images/series-pic2.jpg) no-repeat center /cover;
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.ser__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 24px;
    line-height: 27px;
    font-family: var(--com700);
}
.ser__icon {
    font-size: 48px;
    margin-bottom: 20px;
}
.ser__cards-item {
    background: url(../images/series-pic3.jpg) no-repeat center /cover;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ser__cards-item:nth-child(4) {
    background: url(../images/series-pic4.jpg) no-repeat center /cover;
}
.ser__cards-item:nth-child(5) {
    background: url(../images/series-pic5.jpg) no-repeat center /cover;
}
.ser__cards-item:nth-child(6) {
    background: url(../images/series-pic6.jpg) no-repeat center /cover;
}
.ser_pb {
    padding-bottom: 63px;
}
.footer_bg {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}
.footer__market {
    padding-top: 10px;
    max-width: 264px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__span {
    font-family: var(--com700);
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    padding-top: 10px;
    margin-bottom: 10px;
}